<div id="comment<%=(comment.id)%>">
<p>
  <div id="commentgrav">
    <% if comment.user.profile? %>
        <%= image_tag(comment.user.profile_url, :class => "img-polaroid")  %>
    <% else %>
        <%= image_tag('default.jpg',  :class => "img-polaroid") %>
    <% end %>

  </div>
  <div id="commentname"><b><%= comment.user.name %></b><small class="tiny"> (<%= time_ago_in_words(comment.created_at) %> ago)</small></div>

  <%= comment.content %>


<br/>
<% if current_user?(comment.user) %>
<%= link_to 'Delete', resource_comment_path(@resource, comment), :remote => :true, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</p>
</div>