<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :profile_name %><br />
    <%= f.text_field :profile_name %>
  </div>
    <div class="field">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile %>
    </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :resource_count %><br />
    <%= f.number_field :resource_count %>
  </div>
  <div class="field">
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :subscribe %><br />
    <%= f.check_box :subscribe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

