<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Profile name:</b>
  <%= @user.profile_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Resource count:</b>
  <%= @user.resource_count %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Subscribe:</b>
  <%= @user.subscribe %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
