<div class="container">
  <div class="span12">
    <div class="row">
      <div class="hero-unit welcome opaque">
        <h1>Welcome To UnBoggle</h1>

        <h3 class="center">Search or browse for a resource</h3>


        <%= search_form_for @search do |f| %>
            <div class="search">
              <%= f.label :title_cont, "Title Contains" %>
              <%= f.text_field :title_cont, class: "input-medium search-query" %>
            </div>
            <div class="search">
              <%= f.label :year_gteq, "Not Older Than" %>
              <%= f.text_field :year_gteq, class: "input-medium search-query" %>
            </div>
            <div class="search">
              <%= f.label :category_id_eq, "Category" %>
              <%= f.select :category_id_eq, [['  --  ', ''],['Ruby', 1], ['Rails', 2]] %>
            </div>
            <div class="actions"><%= f.submit "Search", class:"btn" %></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span6 opaque well">
        <h1>Client Side</h1>
      </div>
      <div class="span6 opaque well">
        <h1>Server Side</h1>
      </div>
    </div>
    <div class="row">
      <div class="span3 opaque well">
        <h2><%= link_to "Javascript", category_path(8) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, .</p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "CSS", category_path(5) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Rails", category_path(2) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Ajax", category_path(4) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>

    </div>
    <div class="row">
      <div class="span3 opaque well">
        <h2><%= link_to "HTML", category_path(6) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Design", category_path(7) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "ASP", category_path(3) %></h2>
        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Ruby", category_path(1) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
    </div>
  </div>
</div>
