<div>
  <div class="span3 well pull-left">
    <h3>Latest Resources</h3>
    <% @feed.each do |r| %>
        <%= link_to(resource_path(r)) do  %>
        <div id="holder">
          <div id="thumb">
            <% if r.image? %>
                <%= image_tag(r.image_url, :class => "img-polaroid")  %>
            <% else %>
                <%= image_tag('ruby.jpg',  :class => "img-polaroid") %>
            <% end %>
          </div>
          <div id="heading">
          <h6><%= r.title %></h6>
          </div>
          <div id="blurb">
            <%= truncate(r.description, :length => 60) %>
          </div>
          <div>
            <div class="detail-l">
            <span class="label label-warning tags"><i class="icon-certificate"> </i><%= r.category.name %></span>
            <span class="label label-info tags"><i class="icon-road"> </i><%= r.level %></span>
            <span class="label label-inverse tags"><i class="icon-pencil"> </i><%= r.medium %></span>
            </div>
            <div class="detail-r">
            <span class="badge badge-warning tagsr"><i class="icon-star"> </i><%= r.rating %></span>
            <span class="badge badge-success tagsr"><i class="icon-thumbs-up"> </i><%= r.likes %></span>
            <span class="label label-important tagsr"><i class="icon-calendar"> </i><%= r.created_at.strftime("%m/%d/%Y") %></span>
            </div>

          </div>
        </div>
        <% end %>
    <% end %>
  </div>

</div>



<div class="container offset3">
  <div class="span12">
    <div class="row">
      <div class="hero-unit welcome opaque">
        <h1>Welcome To UnBoggle</h1>

        <h3 class="center">Search or browse for a resource</h3>


        <%= search_form_for @search do |f| %>
            <div class="search">
              <%= f.label :title_cont, "Title Contains" %>
              <%= f.text_field :title_cont, class: "input-medium search-query" %>
            </div>
            <div class="search">
              <%= f.label :year_gteq, "Not Older Than" %>
              <%= f.text_field :year_gteq, class: "input-medium search-query" %>
            </div>
            <div class="search">
              <%= f.label :category_id_eq, "Category" %>
              <%= f.select :category_id_eq, [['  --  ', ''], ['Ruby', 1], ['Rails', 2]] %>
            </div>
            <div class="actions"><%= f.submit "Search", class: "btn" %></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span6 opaque well">
        <h1>Client Side</h1>
      </div>
      <div class="span6 opaque well">
        <h1>Server Side</h1>
      </div>
    </div>
    <div class="row">
      <div class="span3 opaque well">
        <h2><%= link_to "Javascript", category_path(8) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, .</p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "CSS", category_path(5) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Rails", category_path(2) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Ajax", category_path(4) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>

    </div>
    <div class="row">
      <div class="span3 opaque well">
        <h2><%= link_to "HTML", category_path(6) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Design", category_path(7) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "ASP", category_path(3) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
      <div class="span3 opaque well">
        <h2><%= link_to "Ruby", category_path(1) %></h2>

        <p>Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit.
          Nam Cursus. Morbi Ut Mi. Nullam Enim Leo, Egestas Id, </p>
      </div>
    </div>
  </div>
</div>
