
  <h4>Comments</h4>
  <%= render :partial => @resource.comments %>
  <%= form_for([@resource, @resource.comments.build],:remote => true, id: "comments")  do |f| %>
      <div>
        <%= f.label 'Add a Comment' %>
        <%= f.text_area :content, :cols => 20, :rows => 2, :id => 'commtxt' %>
      </div>
      <p><%= f.submit "Add Comment", class: 'btn btn-info'%></p>
  <% end %>
