<% provide(:title, 'Resources') %>
<div class="row">
  <aside class="span2">
    <%= render 'layouts/side_nav' %>
  </aside>
  <div class="span10 opaque">

    <%= search_form_for @search do |f| %>
        <div class="search">
          <%= f.label :title_cont, "Title Contains" %>
          <%= f.text_field :title_cont, class: "input-medium search-query" %>
        </div>
        <div class="actions"><%= f.submit "Search" %></div>
    <% end %>

    <h1>Listing Resources</h1>

    <div class="resource_content">
      <div id="res_header">
        <h5><%= sort_link @search, :title, "Title" %></h5>
        <h5>Source</h5>
        <h5>Category</h5>
        <h5>Level</h5>
        <h5>Year</h5>
        <h5>Cost</h5>
        <h5> Medium</h5>
        <h5> Rating</h5>
        <h5> Description</h5></div>
      <%= will_paginate %>
      <div class="resources">


        <div>
          <% @resources.each do |resource| %>
              <div id="details">
                <div  id="rtitle"><%= link_to resource.title, resource %></div>
                <div class="res_details" id="rsource"><%= resource.source %></div>
                <div class="res_details" id="rcat"><%= resource.category.name %></div>
                <div class="res_details" id="rlevel"><%= resource.level %></div>
                <div class="res_details" id="ryear"><%= resource.year %></div>
                <div class="res_details" id="rcost"><%= resource.cost %></div>
                <div class="res_details" id="rmedium"><%= resource.medium %></div>
                <div class="res_details" id="rrating"><%= resource.rating %></div>
                <div class="res_details" id="rdesc"> <%= resource.description.truncate(20) %></div>
              </div>

          <% end %>

        </div>
      </div>
      <%= will_paginate %>
    </div>



  </div>
</div>


