<% provide(:title, "Sign in") %>

<div class="span6 offset3">
  <div class="hero-unit opaque">
    <h1>New resource</h1>


    <%= form_for(@resource) do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :source %>
        <%= f.text_field :source %>

        <%= f.label :category %>
        <%= f.select :category_id, options_for_select([ ['None', ''], ['Ruby',1], ['Rails',2], ['ASP',3],['Ajax',4],['CSS',5],['HTML',6],['Design',7],['Javascript',8]], :selected => 'None') %>

        <%= f.label :level %>
        <%= f.select :level, options_for_select([ 'Beginner','Intermediate', 'Advanced' ]) %>

        <%= f.label :year %>
        <%= f.select(:year, 2000..Time.now.year, :selected=> Time.now.year) %>

        <%= f.label :cost %>
        <%= f.select :cost, options_for_select(['Free', 'Paid']) %>

        <%= f.label :medium %>
        <%= f.select :medium, options_for_select(['Book','Video','Blog-Tutorial','Article','Video-Tutorial','Tutorial-Exercises']) %>

        <%= f.label :rating %>
        <%= f.select(:rating, 1..10, :selected => 10) %>

        <%= f.label :link %>
        <%= f.text_field :link %>

        <%= f.label :keywords %>
        <%= f.text_field :keywords %>

        <%= f.label :description %>
        <%= f.text_area :description %>


        <%= f.submit "Add Resource", class: "btn btn-primary" %>

    <% end %>


  </div>
</div>
