<% provide(:title, 'Resources') %>
<div class="row">
  <aside class="span2">
    <%= render 'layouts/side_nav' %>
  </aside>
  <div class="span10 opaque">
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
      <li><%= link_to @resource.category.name, category_path(@resource.category.id) %> <span class="divider">/</span></li>
      <li class="active"><%= @resource.title %></li>
    </ul>
    <div class="span9">

      <p>
        <h3><b><%= @resource.title %><span class="golink"><%= link_to "Go Check It Out", @resource.link, :class => "btn btn-success golink", :target => "_blank" %></span></b></h3>
      </p>
      <p id='desc'>
        <%= @resource.description %>
      </p>
      <p>
        <b>Source:</b>
        <%= @resource.source %>
      </p>

      <p>
        <b>Level:</b>
        <%= @resource.level %>
      </p>

      <p>
        <b>Year:</b>
        <%= @resource.year %>
      </p>

      <p>
        <b>Cost:</b>
        <%= @resource.cost %>
      </p>

      <p>
        <b>Medium:</b>
        <%= @resource.medium %>
      </p>

      <p>
        <b>Rating:</b>
        <%= @resource.rating %>
      </p>
      <br/>
      <p>
        <b>Submitted By: </b><%= @resource.user.name %>
      <div><%= gravatar_for @resource.user, size: 25 %> <%= time_ago_in_words(@resource.created_at) %> ago</div>
      </p>


      <% if current_user?(@resource.user) %>
      <%= link_to 'Edit', edit_resource_path(@resource), class: 'btn' %>
      <% end %>


    </div>

    <%= render 'comments' %>
  </div>

</div>
<hr/>
