<div id="navholder">
  <div id="navside">
    <h6>Client Side</h6>
  </div>
  <ul class="type">

    <li><%= link_to "Javascript", category_path(8) %></li>
    <li><%= link_to "HTML", category_path(6) %></li>
    <li><%= link_to "CSS", category_path(5) %></li>
    <li><%= link_to "Design", category_path(7) %></li>
  </ul>
</div>
<div id="navholder">
  <div id="navside">
    <h6>Server Side</h6>
  </div>
  <ul class="type">

    <li><%= link_to "Ruby", category_path(1) %></li>
    <li><%= link_to "Rails", category_path(2) %></li>
    <li><%= link_to "ASP", category_path(3) %></li>
    <li><%= link_to "Ajax", category_path(4) %></li>
  </ul>

</div>